body {
    background-color: black;
    font-family: 'Consolas', 'Inconsolata', monospace;
    font-size: 28px;
    color: green;
}

input {
    background-color: gray;
    color: blue;
    font-size: 28px;
}

footer {
    position: absolute;
    bottom: 0;
    right: 20px;
}

    footer p {
        font-size: 16px;
    }
